<div class="login-wrapper">
  <form class="login" [formGroup]="loginForm" (ngSubmit)="submit()">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      Finance Guru
    </section>

    <div class="login-group">
      <clr-input-container *ngIf="isSignUpMode">
        <label>Name</label>
        <input clrInput type="text" formControlName="name" placeholder="Your Name" />
      </clr-input-container>

      <clr-input-container *ngIf="isSignUpMode">
        <label>Contact Number</label>
        <input clrInput type="text" formControlName="contactNumber" placeholder="Your Contact Number" />
      </clr-input-container>

      <clr-input-container>
        <label>Email</label>
        <input clrInput type="email" formControlName="email" placeholder="Email" />
      </clr-input-container>

      <clr-password-container>
        <label>Password</label>
        <input clrPassword type="password" formControlName="password" placeholder="Password" />
      </clr-password-container>

      <div class="error active" *ngIf="error">{{ error }}</div>

      <button class="btn btn-primary" type="submit">
        {{ isSignUpMode ? 'Sign Up' : 'Log In' }}
      </button>

      <button class="btn btn-link" type="button" (click)="toggleMode()">
        {{ isSignUpMode ? 'Already have an account? Log in' : 'New user? Sign up' }}
      </button>
    </div>
  </form>
</div>
